select::-ms-expand {
    display: none;
}

#dir {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#adder {
    border: 1px solid black;
}
#waveCanvas {
    border: 1px solid black;
}
#config {
    border: 1px solid black;
}
.left {
    float: left;
}
.right {
    float: right;
}


#amplitude {
    width: 100px;
}

#wavelength {
    width: 100px;
}

#phi {
    width: 100px;
}

#speed {
    width: 100px;
}

#waveCanvas {
    width: 100%;
}

.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.vals {
    display: inline-block;
    width: 20px;
}



